# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.pytest_cache/
.python-version
venv/
.env
.env.local

# Node
node_modules/

# Build
dist/
build/

# IDEs
.vscode/
.idea/

# Logs
*.log

# Others
coverage/
coverage.xml
*.egg-info/
